.main-page {
  box-sizing: border-box;
  display: flexbox;
  justify-content: center;
  align-items: center;
  background-image: none;
}
.main-page {
  margin: 80px;
  padding: 24px;
  align-self: center;
  text-align: center;
}
h1 {
  font-size: 80px;
  margin-top: 80px;
  margin: 0;
}
p {
  font-size: 24px;
  margin: 0px 0 40px;
}
button {
  width: 180px;
  height: 48px;
  font-size: 16px;
}
